@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@400;700&display=swap");
/* header */
body {
  background: color #f0f0f0;
}
.header {
  background-color: black;
}
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.card2 {
  height: 26.25rem;
  width: 36.375rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 5px #9999991e;
  margin: 1.5rem;
  justify-content: space-between;
}
.card {
  height: 26.25rem;
  width: 17.25rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 5px #9999991e;
  margin: 1.5rem;
  justify-content: space-between;
}

.cyclistes {
  height: 18.75rem;
  width: 36.375em;
}
.SanFrancisco {
  height: 9.688rem;
  width: 17.25rem;
}
.Rio {
  height: 9.688rem;
  width: 17.25rem;
}
.Kenya {
  height: 9.688rem;
  width: 17.25rem;
}
.Fujiyoshida {
  height: 9.688rem;
  width: 17.25rem;
}
.Prague {
  height: 9.688rem;
  width: 17.25rem;
}
.Londres {
  height: 9.688rem;
  width: 17.25rem;
}
.logotravel {
  height: 7rem;
  width: 7rem;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  align-items: center;
}
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #313131;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 0rem;
}
ul {
  list-style-type: none;
}
.naviguer {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: none;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.naviguer-bloc {
  height: 14.25rem;
  width: 17.25rem;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.propos {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: none;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.services {
  height: 14.25rem;
  width: 17.25rem;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  text-transform: uppercase;
  padding-bottom: 2rem;
}
.blog {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.visite {
  height: 14.25rem;
  width: 17.25rem;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  padding-bottom: 2rem;
}
.title {
  font-size: 1.125rem;
  font-weight: bold;
  padding: 0.5rem;
}
.title2 {
  font-size: 1.875rem;
  font-weight: bold;
  padding: 0.5rem;
  margin: 0em;
}
.pays {
  font-size: 0.875rem;
  font-weight: bold;
  color: #999999;
  text-transform: uppercase;
  padding: 0.5rem;
  justify-self: center;
}
.description {
  font-size: 0.875rem;
  padding: 0.5rem;
}
