/* header */
.header{
    background-color: black;
}

.cyclistes{
    height: 17rem;
    width: 32rem;
}
.SanFrancisco{
    height: 9rem;
    width: 16rem;
}
.Rio{
    height: 9rem;
    width: 16rem;
}
.Kenya{
    height: 9rem;
    width: 16rem;
}
.Fujiyoshida{
    height: 9rem;
    width: 16rem;
}
.Prague{
    height: 9rem;
    width: 16rem;
}
.Londres{
    height: 9rem;
    width: 16rem;
}
